@import url('https://fonts.googleapis.com/css2?family=Comfortaa&display=swap');
.wrapper {
    margin: 0 auto;
    width: 100%;
    font-family: 'Comfortaa', cursive;
}

.header {
    background-color: #D9D3CE;
}

.header__menu {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 100px;
    gap: 316px;
    justify-content: space-around;
}

.header__nav {
    display: flex;
    flex-direction: row;
    gap: 80px;
}

.nav_item, .nav_item2,.nav_item3 {
    font-size: 32px;
}

.nav_item:hover, .nav_item2:hover, .nav_item3:hover {
    color: white;
    transition: all linear .25s;
}

.main__blocks {
    margin: auto;
    height: 890px;
    align-items: center;
    justify-content: center;
    background-color: #4C4A48;
    display: flex;
    flex-direction: row;
    gap: 51px;
}

.main_block1 {
    width: 729px;
    height: 763px;
}

.imgmainblock2 {
    height: 888px;
}

.imgmainblock22 {
    display: none;
}

.main_block2 {
    border-radius: 10px;
}

.title,
.text {
    color: white;
}

.title {
    font-size: 30px;
    line-height: 30px;
}

.text {
    font-size: 20px;
    line-height: 30px;
    margin-top: 29px;
}

.footer__container {
    background-color: #D9D3CE;
}

.footer__block {
    padding-top: 23px;
    height: 40px;
    padding-left: 20px;
}

.footer_text {
    font-size: 13px;
}

@media screen and (max-width: 1400px) {
    .nav_item,.nav_item2,.nav_item3 {
        font-size: 20px;
    }
    .imgmainblock2 {
        width: 790px;
        height: 850px;
    }
    .title {
        font-size: 20px;
        line-height: 30px;
    }
    .text {
        font-size: 16px;
        line-height: 25px;
    }
}

@media screen and (max-width: 1440px) {
    .nav_item, .nav_item2,.nav_item3 {
        font-size: 17px;
    }
    .header__nav {
        display: flex;
        flex-direction: row;
        gap: 60px;
    }
    .header__menu {
        display: flex;
        flex-direction: row;
        align-items: center;
        height: 100px;
        gap: 0;
        justify-content: space-around;
    }
    .main__blocks {
        margin: auto;
        height: 940px;
        align-items: center;
        justify-content: center;
        background-color: #4C4A48;
        display: flex;
        flex-direction: column-reverse;
        gap: 20px;
    }
    .imgmainblock2 {
        display: none;
    }
    .imgmainblock22 {
        display: block;
    }
    .title {
        font-size: 20px;
        line-height: 30px;
        text-align: center;
    }
    .text {
        font-size: 16px;
        line-height: 20px;
        margin-top: 29px;
        text-align: center;
    }
    .main_block1 {
        width: 780px;
        height: 326px;
    }
    .main_block2 {
        border-radius: 10px;
        margin-top: -90px;
    }
    .footer_text {
        font-size: 10px;
    }
}

@media screen and (max-width: 430px) {
    .header__nav {
        gap: 20px;
    }
    .nav_item,.nav_item2{
        font-size: 14px;
    }
    .nav_item3 {
        display: none;
    }
    .imglogo {
        width: 32px;
        height: 31px;
    }
    .imgburgermenu {
        width: 37px;
        height: 29px;
    }
    .header__menu {
        height: 41px;
    }
    .imgmainblock22 {
        width: 252px;
        height: 129px;
    }
    .main_block2 {
        border-radius: 10px;
        margin-top: -700px;
    }
    .title {
        font-size: 16px;
        line-height: 25px;
        text-align: center;
    }
    .main_block1 {
        width: 246px;
        height: 159px;
    }
    .text {
        font-size: 12px;
        text-align: center;
    }
    .main__blocks {
        margin: auto;
        height: 1100px;
        gap: 20px;
    }
    .footer_text {
        text-align: center;
    }
    .footer__block {
        padding-top: 10px;
        padding-left: 0;
    }
}