@import url('https://fonts.googleapis.com/css2?family=Comfortaa&display=swap');
.wrapper{
    margin: 0 auto;
    width: 100%;
    font-family: 'Comfortaa', cursive;
}

.header{
    background-color: #D9D3CE;
}
.header__menu{
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 100px;
    gap: 316px;
    justify-content: space-around;
}
.header__nav{
    display: flex;
    flex-direction: row;
    gap: 80px;

}
.nav_item,.nav_item2,.nav_item3{
    font-size: 32px;
}
.nav_item:hover,.nav_item2:hover,.nav_item3:hover{
    color: white;
    transition: all linear .25s;
}
.main__container{
    background-color: #695F55;
    height: 985px;
}
.main__blocks{
    margin: auto;
    padding-top: 30px;
    align-items: center;
    justify-content:center;
    display: flex;
    flex-direction: column;
}

.main_block2{
    border-radius: 10px;
    background-color: #756A5F;
    width: 1436px;
    height: 535px;
    margin-top: -20px;
}
.title,.text{
    color: white;
}
.title{
    text-align: center;
    margin-top: 34px;
    font-size: 30px;
    line-height: 30px;
}
.text{
    font-size: 20px;
    line-height: 30px;
    margin-top: 29px;
}
.footer__container{
    background-color: #D9D3CE;
}
.imgmainblock1{
    position: relative;
    z-index: 1;
}
.imgmainblock2,.imgmainblock3{
    display: none;
}

.footer__block{
    padding-top:23px;
    height: 40px;
    padding-left: 20px;

}
.footer_text{
    font-size: 13px;
}
ul{
    color: white;
    margin:30px auto;
    width: 748px;
    line-height: 25px;
    font-size: 20px;

}
@media screen and (max-width: 1400px){
    .nav_item,.nav_item3{
        font-size: 20px;
    }
    .title{
        font-size: 20px;
        line-height: 30px;
    }
    .text{
        font-size: 16px;
        line-height: 25px;

    }
    .imgmainblock1{
        width: 1336px;
        height: 371px;
    }
}
@media screen and (max-width: 1440px) {
    .nav_item,.nav_item2, .nav_item3 {
        font-size: 17px;
    }

    .header__nav {
        display: flex;
        flex-direction: row;
        gap: 60px;

    }
    .header__menu{
        display: flex;
        flex-direction: row;
        align-items: center;
        height: 100px;
        gap: 0;
        justify-content: space-around;
    }
    .imgmainblock1,.imgmainblock3{
        display: none;
    }
    .imgmainblock2{
        display: block;
        width: 810px;
        height: 371px;
        position: relative;
        z-index: 1;
    }
    .main_block2{
        border-radius: 10px;
        background-color: #756A5F;
        width: 810px;
        height: 535px;
        margin-top: -25px;
    }
    .ulmain{
        font-size: 16px;
        width: 560px;
    }
    .title{
        font-size: 20px;
    }

    .footer__block{
        margin-top: -20px;
    }
}
@media screen and (max-width: 430px) {
    .header__nav{
        gap: 20px;
    }
    .nav_item,.nav_item2{
        font-size: 14px;
    }
    .nav_item3{
        display: none;
    }
    .imglogo{
        width: 32px;
        height: 31px;
    }
    .imgburgermenu{
        width: 37px;
        height: 29px;
    }
    .header__menu{
        height: 41px;
    }
    .imgmainblock2{
        display: none;
    }
    .imgmainblock3{
        display: block;
        width: 249px;
        height: 200px;
    }
    .ulmain{
        font-size: 12px;
        width: 243px;
        line-height: 17px;
        margin: 10px auto;
    }
    .title{
        font-size: 16px;
    }
    .main_block2{
        border-radius: 10px;
        background-color: #756A5F;
        width: 290px;
        height: 516px;
        position: relative;
        z-index: 0;

    }
    .footer__block{
        padding-top:10px;
        padding-left: 14px;
        height: 70px;
    }
    .main__container{
        height: 785px;
    }

}